.hide {
    opacity: 0;
}

/** FLEX AND GRID *****/
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.gap-xs {
    gap: 0.25rem;
}

.gap-md {
    gap: 1rem;
}

/** COLOR *****/
.c-green {
    color: $c-green;

    &:focus {
        outline-color: rgba($color: $c-green, $alpha: 0.5);
    }
}

.c-blue {
    color: $c-blue;

    &:focus {
        outline-color: rgba($color: $c-blue, $alpha: 0.5);
    }
}

.c-violet {
    color: $c-violet;

    &:focus {
        outline-color: rgba($color: $c-violet, $alpha: 0.5);
    }
}

.c-pink {
    color: $c-pink;

    &:focus {
        outline-color: rgba($color: $c-pink, $alpha: 0.5);
    }
}

.c-dark-1 {
    color: $c-dark-1;
}

.c-dark-2 {
    color: $c-dark-2;
}

/** BUTTONS *****/

.btn {
    padding: 0.5rem 0.75rem;
    border-radius: $radius;
    color: white;
    font-weight: 600;
    text-align: center;

    &--icon {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    &--green {
        background-color: $c-green;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-green, $alpha: 0.5);
        }
    }

    &--blue {
        background-color: $c-blue;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-blue, $alpha: 0.5);
        }
    }

    &--violet {
        background-color: $c-violet;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-violet, $alpha: 0.5);
        }
    }

    &--pink {
        background-color: $c-pink;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-pink, $alpha: 0.5);
        }
    }

    &--secondary {
        background-color: $c-light-2;
        color: $c-dark-2;
    }

    &--alt {
        background-color: $c-light-2;
        color: $c-dark-2;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-pink, $alpha: 0.5);
        }
    }

    &--tertiary {
        background-color: transparent;
        color: $c-dark-2;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $c-pink, $alpha: 0.5);
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1.5rem;
        min-height: 1.5rem;
    }

    &--active {
        background-color: $c-light-2;
        color: $c-dark-1;
    }
}

.text-inside {
    font-size: 0.75rem;
    padding: 2px 4px;
    background-color: $c-light-2;
    border-radius: 0.2rem;
    font-weight: 600;
    color: $c-dark-2;
}
