@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/** TYPOGRAPHY *****/
.text-xs {
  font-size: 0.75rem;
  font-weight: 500;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 700;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.text-xxl {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

p b {
  font-weight: 500;
}

p + p {
  margin-top: 1rem;
}

b {
  font-weight: 600;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline-offset: 4px;
  outline-color: rgba(216, 88, 136, 0.5);
}

button {
  border: 0;
  line-height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.25);
}

.link {
  text-decoration: underline;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  -webkit-transition: -webkit-text-decoration-color 0.15s linear;
  transition: -webkit-text-decoration-color 0.15s linear;
  transition: text-decoration-color 0.15s linear;
  transition: text-decoration-color 0.15s linear, -webkit-text-decoration-color 0.15s linear;
}

.link:hover, .link:focus, .link:focus-visible {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.hide {
  opacity: 0;
}

/** FLEX AND GRID *****/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap-xs {
  gap: 0.25rem;
}

.gap-md {
  gap: 1rem;
}

/** COLOR *****/
.c-green {
  color: #94ca42;
}

.c-green:focus {
  outline-color: rgba(148, 202, 66, 0.5);
}

.c-blue {
  color: #4d9feb;
}

.c-blue:focus {
  outline-color: rgba(77, 159, 235, 0.5);
}

.c-violet {
  color: #6466e9;
}

.c-violet:focus {
  outline-color: rgba(100, 102, 233, 0.5);
}

.c-pink {
  color: #d85888;
}

.c-pink:focus {
  outline-color: rgba(216, 88, 136, 0.5);
}

.c-dark-1 {
  color: #27272a;
}

.c-dark-2 {
  color: #717179;
}

/** BUTTONS *****/
.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.btn--green {
  background-color: #94ca42;
}

.btn--green:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(148, 202, 66, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(148, 202, 66, 0.5);
}

.btn--blue {
  background-color: #4d9feb;
}

.btn--blue:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(77, 159, 235, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(77, 159, 235, 0.5);
}

.btn--violet {
  background-color: #6466e9;
}

.btn--violet:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(100, 102, 233, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(100, 102, 233, 0.5);
}

.btn--pink {
  background-color: #d85888;
}

.btn--pink:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
}

.btn--secondary {
  background-color: #f5f4f5;
  color: #717179;
}

.btn--alt {
  background-color: #f5f4f5;
  color: #717179;
  width: 100%;
}

.btn--alt:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
}

.btn--tertiary {
  background-color: transparent;
  color: #717179;
}

.btn--tertiary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
}

.btn__icon {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.btn--active {
  background-color: #f5f4f5;
  color: #27272a;
}

.text-inside {
  font-size: 0.75rem;
  padding: 2px 4px;
  background-color: #f5f4f5;
  border-radius: 0.2rem;
  font-weight: 600;
  color: #717179;
}

/** NAV *****/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 10;
}

nav .wrapper {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/** MAIN *****/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main {
  display: -ms-grid;
  display: grid;
  gap: 6rem;
}

.wrapper {
  width: 100%;
  max-width: calc(700px + 3rem);
  padding: 6.25rem 1.5rem 1.5rem;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .intro img {
  width: 3.5rem;
}

header .intro p {
  font-weight: 500;
  color: #717179;
  line-height: 1.5;
}

header p {
  max-width: 50ch;
  line-height: 1.8;
}

.grid-2-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(calc(350px - 5rem), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(calc(350px - 5rem), 1fr));
  gap: 1.5rem;
}

.work {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f5f4f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.work img {
  aspect-ratio: 4/3;
  background-color: #f5f4f5;
  border-radius: 0.5rem;
}

.work a {
  width: 100%;
  text-align: center;
}

.work__title {
  margin: 0.25rem 0 0.5rem 0;
}

.work p {
  margin-top: 0.75rem;
}

.tooltip {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.tooltip span {
  display: none;
  margin-left: -5rem;
  margin-top: -7rem;
  position: absolute;
  z-index: 99;
  width: 10rem;
}

.tooltip span img {
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 10rem;
  border-radius: 4px;
}

.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

.track-time__icon.playing rect:nth-child(1) {
  -webkit-animation: playIcon-1 1s infinite linear alternate;
          animation: playIcon-1 1s infinite linear alternate;
}

.track-time__icon.playing rect:nth-child(2) {
  -webkit-animation: playIcon-2 1s infinite linear alternate;
          animation: playIcon-2 1s infinite linear alternate;
}

.track-time__icon.playing rect:nth-child(3) {
  -webkit-animation: playIcon-3 1s infinite linear alternate;
          animation: playIcon-3 1s infinite linear alternate;
}

.track-time__icon.playing rect:nth-child(4) {
  -webkit-animation: playIcon-4 1s infinite linear alternate;
          animation: playIcon-4 1s infinite linear alternate;
}

@-webkit-keyframes playIcon-1 {
  0% {
    height: 8px;
    y: 6;
  }
  25% {
    height: 12px;
    y: 4;
  }
  67.50% {
    height: 4px;
    y: 8;
  }
  100% {
    height: 8px;
    y: 6;
  }
}

@keyframes playIcon-1 {
  0% {
    height: 8px;
    y: 6;
  }
  25% {
    height: 12px;
    y: 4;
  }
  67.50% {
    height: 4px;
    y: 8;
  }
  100% {
    height: 8px;
    y: 6;
  }
}

@-webkit-keyframes playIcon-2 {
  0% {
    height: 4px;
    y: 8;
  }
  50% {
    height: 12px;
    y: 4;
  }
  100% {
    height: 4px;
    y: 8;
  }
}

@keyframes playIcon-2 {
  0% {
    height: 4px;
    y: 8;
  }
  50% {
    height: 12px;
    y: 4;
  }
  100% {
    height: 4px;
    y: 8;
  }
}

@-webkit-keyframes playIcon-3 {
  0% {
    height: 8px;
    y: 6;
  }
  25% {
    height: 4px;
    y: 8;
  }
  75% {
    height: 12px;
    y: 4;
  }
  100% {
    height: 8px;
    y: 6;
  }
}

@keyframes playIcon-3 {
  0% {
    height: 8px;
    y: 6;
  }
  25% {
    height: 4px;
    y: 8;
  }
  75% {
    height: 12px;
    y: 4;
  }
  100% {
    height: 8px;
    y: 6;
  }
}

@-webkit-keyframes playIcon-4 {
  0% {
    height: 6px;
    y: 7;
  }
  37.5% {
    height: 12px;
    y: 4;
  }
  87.5% {
    height: 4px;
    y: 8;
  }
  100% {
    height: 6px;
    y: 7;
  }
}

@keyframes playIcon-4 {
  0% {
    height: 6px;
    y: 7;
  }
  37.5% {
    height: 12px;
    y: 4;
  }
  87.5% {
    height: 4px;
    y: 8;
  }
  100% {
    height: 6px;
    y: 7;
  }
}

.activity {
  border-radius: 0.5rem;
}

.activity:hover p, .activity:focus-visible p {
  color: #d85888;
}

.activity:focus {
  outline-color: rgba(216, 88, 136, 0.5);
}

.activity--violet {
  border-radius: 0.5rem;
}

.activity--violet:hover p, .activity--violet:focus-visible p {
  color: #6466e9;
}

.activity--violet:hover .star, .activity--violet:focus-visible .star {
  background-color: #6466e9;
}

.activity--violet:focus {
  outline-color: rgba(100, 102, 233, 0.5);
}

.activity {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img--square {
  width: 5rem;
  border-radius: 0.5rem;
  background: #f5f4f5;
  aspect-ratio: 1/1;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.img--sm {
  width: 3rem;
}

.img--portrait {
  width: 3.333rem;
  border-radius: 0.5rem;
  background: #f5f4f5;
  aspect-ratio: 1/1.5;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  min-width: 0;
}

.text-truncate {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#film-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21px;
}

.star {
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #717179;
  height: 16px;
  width: 16px;
  display: inline-block;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.star-fill {
  -webkit-mask-image: url("/assets/star-fill.svg");
  mask-image: url("/assets/star-fill.svg");
}

.star-half {
  -webkit-mask-image: url("/assets/star-half.svg");
  mask-image: url("/assets/star-half.svg");
}

.star-blank {
  -webkit-mask-image: url("/assets/star-blank.svg");
  mask-image: url("/assets/star-blank.svg");
}

.load {
  background-color: #f5f4f5;
  min-height: 22px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  -webkit-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
}

.load--short {
  width: 40%;
}

.load--medium {
  width: 50%;
}

.load--long {
  width: 75%;
}

@-webkit-keyframes pulse {
  0% {
    background: rgba(113, 113, 121, 0.1);
  }
  50% {
    background: rgba(113, 113, 121, 0.2);
  }
  100% {
    background: rgba(113, 113, 121, 0.1);
  }
}

@keyframes pulse {
  0% {
    background: rgba(113, 113, 121, 0.1);
  }
  50% {
    background: rgba(113, 113, 121, 0.2);
  }
  100% {
    background: rgba(113, 113, 121, 0.1);
  }
}

footer.wrapper {
  padding-top: 4rem;
}

.rotate--svg {
  -webkit-animation: rotate-360 4s ease-in-out infinite 1s;
          animation: rotate-360 4s ease-in-out infinite 1s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.rotate--text {
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  -webkit-animation: rotate-360 2s ease-in-out infinite 1s;
          animation: rotate-360 2s ease-in-out infinite 1s;
  vertical-align: middle;
}

@-webkit-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dialog {
  visibility: hidden;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dialog h2 {
  margin-bottom: 1.5rem;
}

.dialog__inner {
  position: fixed;
  width: 90%;
  max-width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.dialog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dialog.open {
  visibility: visible;
}

figure {
  text-align: center;
}

figure img {
  border-radius: 1rem;
}

figcaption {
  margin-top: 0.25rem;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 1.5rem;
}

.about h1 {
  margin-bottom: 0.5rem;
}

.about .profile {
  max-width: 275px;
  margin: 0 auto;
}

.grid-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.grid-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

@media only screen and (max-width: 699px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

.photocards-list {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (minmax(calc(3.5rem), 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(calc(3.5rem), 1fr));
}

.photocards-list img {
  -webkit-transition: -webkit-box-shadow 0.15s ease-out;
  transition: -webkit-box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
}

.photocards-list img:focus, .photocards-list img:hover {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
  cursor: pointer;
}

.photocard {
  aspect-ratio: 55/86;
  border-radius: 0.25rem;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  position: relative;
}

.search svg {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-bar {
  padding: 0.5rem 0.75rem 0.5rem 2.175rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #f5f4f5;
  color: #27272a;
  font-size: 14px;
  font-weight: 500;
}

.search-bar:focus {
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(216, 88, 136, 0.5);
}

.empty-container {
  text-align: center;
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.empty-container h3 {
  margin-bottom: 0.25rem;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  visibility: hidden;
  padding: 3rem;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modalInner {
  background: #ffffff;
  position: relative;
  color: black;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
  overflow: scroll;
}

.modalInner__image {
  position: relative;
}

.modalInner__image img {
  width: 100%;
  background: #f5f4f5;
}

.modalInner__image button {
  background: none;
  position: absolute;
  height: 100%;
  top: 50%;
  padding: 0.5rem;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.modalInner__image button.prev {
  padding-right: 4rem;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modalInner__image button.next {
  padding-left: 4rem;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modalInner__image button svg {
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}

.modalInner__image button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modalInner__details {
  padding: 0.5rem 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 0.75rem;
}

.modalInner__details img {
  aspect-ratio: 1/1;
  width: 3rem;
  height: 3rem;
  border-radius: 1000px;
}

.modalInner__details h2 {
  font-weight: 600;
}

@media only screen and (max-width: 617px) {
  html {
    font-size: 15px;
  }
  main {
    gap: 4rem;
  }
  .modalInner {
    max-width: 350px;
  }
  .search-bar {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (max-width: 400px) {
  .btn--icon span {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */